<div class="jigInputMixedList">
  <div dojoAttachPoint="controlNode">
    <div dojoType="dijit.form.DropDownButton"
         dojoAttachPoint="buttonNode"
         style="float:right;">
    	 <span>Ajouter</span>
    	 <div dojoType="dijit.TooltipDialog">
           <div dojoType="jig.input._MixedGridCreateList"
                mixedListWidget="${id}"></div>
         </div>
    </div>
    <span dojoAttachPoint="labelNode">List!</span>
  </div>
  <div dojoAttachPoint="listNode" class="list">
  </div>
</div>
